table,tr,td {
	border: 1px solid black;
	text-align: center;
  }
  td {
	padding: 5px;
  }
#me{
	background-color: red;
}

.empty{
	background-color: lightgray;
}

.missing{
	background-color: aqua;
}